TEST_SPECTRA/
RAW_FILES/
__pycache__/
CODE/__pycache__/
final_lightcurves/
lightcurves_swift_xrt/
spectra_api/
spectra_swift_xrt/
final_spectral_fit_results_bin/
final_spectral_fit_results_bin1/
spectral_fit_residuals_bin/ 
spectral_fit_residuals_bin1/
spectral_fit_results_bin/
spectral_fit_results_bin1/
Aql_x-1_xray_dates.csv
test.ipynb
xspec.log
run*